body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.AppHeader {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px + 2vmin);
  color: white;
}

li,
.Botonera a {
  display: inline-block;
  padding: 4px 10px;
  margin: 10px 6px;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.Item {
  border: #bbb 1px solid;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px auto;
  max-width: 300px;
}

.Item h3 {
  color: gray;
}

.Form div {
  width: 300px;
  margin: 10px auto;
}

.Form label {
  margin: 20px 0 10px;
  color: gray;
  display: block;
  text-align: left;
}
.Form input,
.Form textarea {
  width: 100%;
  display: block;
  font-size: 14px;
  box-sizing: border-box;
}

.Form input.enviar {
  font-size: 18px;
  margin-top: 20px;
}

.text-danger {
  margin: 10px 0;
  display: block;
  color: red;
}
